header, nav, section, article, aside, footer {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #00cccc;
}

body .wrapper {
  margin: auto;
  width: 35%;
  padding: 2em;
}

body .wrapper p {
  font: .75rem 'arial-black', sans-serif;
  color: #006666;
  text-align: justify;
}

::-webkit-scrollbar {
  width: 0.65em;
}

::-webkit-scrollbar-track {
  background: #009999;
}

::-webkit-scrollbar-thumb {
  background: #006666;
}
