header, nav, section, article, aside, footer {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

html {
  scroll-behavior: smooth;
}

html body {
  width: 100vw;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: relative;
}

html body .wrapper {
  width: 60vw;
  margin: 2em auto;
  border: 1px solid salmon;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2em;
}

html body .wrapper nav {
  width: 3em;
  position: fixed;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

html body .wrapper nav a {
  display: block;
  text-decoration: none;
  color: rgba(250, 250, 250, 0.5);
  font: bold 1rem 'arial-black', sans-serif;
  border-top: 1px solid rgba(250, 250, 250, 0.5);
  border-right: 1px solid rgba(250, 250, 250, 0.5);
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  width: 3em;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .25em 0;
}

html body .wrapper nav a:hover {
  background: rgba(0, 0, 0, 0.2);
}

html body .wrapper nav a:active {
  background: rgba(0, 0, 0, 0.1);
}

html body .wrapper div {
  width: 100%;
  height: 90vh;
  border: 1px solid rgba(250, 250, 250, 0.5);
  margin: 1em 0;
  font: 1.75em 'arial-black', sans-serif;
  color: rgba(250, 250, 250, 0.7);
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
